
#container {
	top: 0px;
	left: 0px;
	text-align: center;
}
#name_box{
	top: 7vh;
	left: 0px;	
	width: 33vw;
	height : 90vh;
	position: absolute;
	background: lightblue;	
	display: flex;
}

#yours_truly {
	margin:auto;
}
#top_box{
	height: 85vh;
	width: 67vw;
	left:33vw;
	top:7vh;
	position: absolute;
	background: #1b1c1d;
	overflow: hidden;
	display: inline-block;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	transform: rotate(180deg);
}
#a_box {
	width: 100%;
	height: 100%;
	text-align: center;
}
.boxes_in_box {
	width: 22.3vw;
	height: 42.5vh;
	float: left;
	/*background: tomato	;*/
	border: none;
	display: inline-block;
	transform: rotate(180deg);
}
#upper_box, #bottom_box {
	position: fixed;
	left: 0;
	height: 17vh;
	width: 100vw;
	background: black;
}
#upper_box {
	top:0;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

#bottom_box {
	bottom:0;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
	transform: rotate(180deg);
}

